main {
    width: 900px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#blueCard {
    background-color: lightblue;
}

#orangeCard {
    background-color: orange;
}

#pinkCard {
    background-color: palevioletred;
}

#redCard {
    background-color: red;
}

#greenCard {
    background-color: lightgreen;
}