input {
    border-radius: 5px;
    margin: 5px;
}

label {
    padding: 10px;
}

input:enabled {
    border: 2px solid black;
    background-color: lightskyblue;
}

input:required {
    border: 3px solid red;
    background-color: lightskyblue;
}

input:disabled {
    color: rgba(0, 0, 0, 0.438);
}

input[type="submit"] {
    margin-left: 15px;
}
